<div class="login_style container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 col-lg-4 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="login_title card-title text-center">LOGIN</h4>
                    <form id="loginForm" action="/">
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="login_btn btn text-white">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{#if loginFail}}
    <div id="alert" class="alert text-center">
        <div id="lottie-animation"></div>
        <div id="alert-message" class="text-white fs-2 fw-bold">
            <h4>{{loginFail}}</h4>
        </div>
        <button id="close-alert" class="text-white border-0 rounded-2 fs-6 fw-bold">Close</button>
    </div>
{{/if}}
<script>
    const socket = io();
    document.getElementById("loginForm").addEventListener("submit", function (event) {
        event.preventDefault();

        var phone = document.getElementById("phone").value;
        var password = document.getElementById("password").value;


        socket.emit("login", ({
            username: phone,
            password: password
        }))

        var form = document.getElementById("loginForm");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "/");

        document.getElementById("phone").setAttribute("value", phone);
        document.getElementById("password").setAttribute("value", password);

        form.submit();

    });

    function showAlert(message, animationPath, onClose) {
        const alertElement = document.getElementById('alert');
        const alertMessageElement = document.getElementById('alert-message');
        const closeAlertButton = document.getElementById('close-alert');

        alertMessageElement.textContent = message;

        const lottieContainer = document.getElementById('lottie-animation');
        const animation = bodymovin.loadAnimation({
            container: lottieContainer,
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: animationPath, // Path to your Lottie JSON file
        });

        const hideAlert = () => {
            alertElement.style.display = 'none';
            if (typeof onClose === 'function') {
                onClose();
            }
        };

        closeAlertButton.addEventListener('click', hideAlert);

        alertElement.style.display = 'block';
    }

    showAlert('{{loginFail}}', './animation/login.json');
</script>