<div class="login_style container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 col-lg-4 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="login_title card-title text-center">LOGIN</h4>
                    <form id="loginForm" action="/">
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="login_btn btn text-white">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("loginForm").addEventListener("submit", function (event) {
        event.preventDefault();

        var phone = document.getElementById("phone").value;
        var password = document.getElementById("password").value;

        var form = document.getElementById("loginForm");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "/");

        // Set the values of existing input fields
        document.getElementById("phone").setAttribute("value", phone);
        document.getElementById("password").setAttribute("value", password);

        form.submit();
    });
</script>