<div class="bg-white shadow-sm" id="sidebar-wrapper">
    <img width="250" class="sidebar-heading " src="img/my_name.png"></img>
    <div class="list-group list-group-flush my-3">
        <a href="/api" class="list-group-item list-group-item-action bg-transparent second-text fw-bold active"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
        <a href="http://saigonvalve.com/category/du-an/" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-project-diagram me-2"></i>Dự Án</a>
        <a href="http://saigonvalve.com/san-pham/" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-shopping-cart me-2"></i>Sản Phẩm</a>
        <a href="http://saigonvalve.com/category/tin-tuc/" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-newspaper me-2"></i>Tin Tức</a>
        <a href="http://saigonvalve.com/lien-he/" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-address-card me-2"></i>Liên Hệ</a>
        <a href="http://saigonvalve.com/gioi-thieu/" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-address-card me-2"></i>Giới Thiệu</a>

    </div>
</div>