<!-- <div id="sidebar-wrapper" style="background-color: #0C1A32;box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">
    <img width="240" height="75" class="sidebar-heading my-s-3" src="img/my_logo.png" />
    <div class="list-group">
        <a id="dashboard" href="/dashboard"
            class="list-group-item list-group-item-action fw-bold nav-link transparent-bg">
            <i class="fas fa-tachometer-alt me-2"></i>Dashboard </a>
        <a id="chart" href="/chart" class="list-group-item list-group-item-action fw-bold nav-link transparent-bg">
            <i class="fas fa-chart-line me-2"></i>Chart </a>
        <a id="history" href="/history" class="list-group-item list-group-item-action fw-bold nav-link transparent-bg">
            <i class="fas fa-history me-2"></i>History </a>
        <a id="schedule" href="/schedule"
            class="list-group-item list-group-item-action fw-bold nav-link transparent-bg">
            <i class="fas fa-calendar-alt me-2"></i>Schedule </a>
    </div>
    <style>
        .transparent-bg {
            background-color: transparent !important;
        }
    </style>
</div>
<script>
    $(document).ready(function () {

        // Load the initial page content
        loadPage(window.location.pathname);

        // Handle navigation clicks
        $('.nav-link').click(function (event) {
            // Prevent default behavior
            // event.preventDefault();

            // Get the URL and load the page content using jQuery's load() method
            let url = $(this).attr('href');
            $('#page-content').load(url);

            // Set the "active" class on the appropriate navigation link
            $('.nav-link').removeClass('active');
            $(this).addClass('active');

            // Update the URL
            history.pushState(null, null, url);
        });

        // Handle back/forward button clicks
        $(window).on('popstate', function () {
            loadPage(window.location.pathname);
        });
    });

    function loadPage(url) {
        $('.nav-link').removeClass('active');
        $(`.nav-link[href="${url}"]`).addClass('active');
    }
</script>
<style>
    .transparent-bg {
        background-color: transparent !important;
        color: white;
    }

    .transparent-bg.active {
        color: #00CBCB;
    }
</style> -->